html {
    overflow-y: scroll;
}

body {
    background-color: #cdc7af;
    margin: 0;
    padding: 0;
}

p,
h1,
h2 {
    color: #131118; /* Near-black */
}

nav {
    height: 75px;
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 640px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: #131118; /* Near-black */
    font-family: "Lora";
    font-weight: lighter;
    font-size: large;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: #B33434; /* Red */
    font-family: "Lora";
    font-weight: bold;
    font-size: large;
    transform: translateY(-3px);
}

.selected {
    color: #B33434; /* Red */
    font-family: "Lora";
    font-weight: bolder;
    font-size: large;
}

.navlogo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 25px;
    margin: 0 auto;
    max-width: 225px;
}

.content {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
    transform: translateY(-40px);
    opacity: 0;
    animation: slideDownFade 0.6s ease-out forwards;
}

.homeH1 {
    text-align: center;
    font-family: "Lora";
    font-weight: bolder;
}

.homeImage {
    padding-top: 25px;
    max-width: 750px;
}

.aboutP {
    text-align: center;
    font-size: large;
    font-weight: light;
    font-family: "Lora";
}

.aboutH1 {
    text-align: center;
    font-family: "Lora";
    font-weight: bold;
}

.aboutImage {
    padding-top: 25px;
    max-width: 150px;
}

.projectsP {
    font-size: large;
    font-family: "Lora";
}

.projectsH1,
.projectsH2 {
    font-family: "Lora";
    font-weight: bold;
}

.projectsImage {
    padding-top: 25px;
    width: 300px;
    height: 300px;
    background-size: contain;
}

.projectsProject {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.projectsText {
    text-align: left;
    margin: 0 auto;
}

.portfolioH1 {
    font-family: "Lora";
    font-weight: bold;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    row-gap: 50px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.portfolio-grid img {
    width: 100%;
    max-width: 300px;
    height: 300px;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.line {
    background-color: #442131; /* Dark plum */
    max-width: 1280px;
    margin: 0 auto;
    height: 10px;
    border-radius: 10px;
}

.lineSep {
    background-color: #442131; /* Dark plum */
    max-width: 1280px;
    margin: 0 auto;
    height: 5px;
    border-radius: 1px;
}

.hero {
    padding-top: 25px;
}

.heroImage {
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url("../images/HeroImage.png");
    height: 450px;
}

.content iframe {
    padding-top: 30px;
    border: none;
}

@keyframes slideDownFade {
    0% {
        transform: translateY(-40px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@font-face {
    font-family: "Lora";
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}